.Box{
    display: flex;
    align-items: center ;
    justify-content: space-evenly;
    background-color: #ffffff;
    margin:10px 15px 10px 0px;
    border-radius: 7px;
    padding:20px 0px;
}

.Label{
    font-size:14px;
    font-weight: bold;
    
}

.Case{
    font-size:23px;
    font-weight: bold;
    margin-top: 10px;
}

@media(max-width:1100px){
    .Box{
       padding:20px 1px;
       margin:10px;

    }
}

@media(max-width:499px){
    .Box{
        margin:10px;
 
     }

}