.Parent{
    background-color: #ffffff;
}

.OuterDiv img{
   width:100%;
   height:100%;
}


.OuterDiv{
    padding:40px;
    background-color: #ffffff;
    display: flex;
    width:100%;
}

.Text{
    width:100%;
}

.Title{
    font-size:28px;
    font-weight: bold;
    text-decoration: underline;
    color:#ff0019;
    margin-bottom:20px;
    text-align: left;
}

.Desc{
    font-size:20px;
    margin-bottom:10px;
    text-align: left;
}

.Link{
    font-size:18px;
    text-align: left;
    margin-bottom:20px;
}

.Foot{
   text-align: right;
    margin-right:10px;
    font-style: italic;
    font-weight: bold;
   
}

.Time{
    text-align: right;
    margin-right:10px;
    font-style: italic;
    font-weight: bold;
}

.Line{
    margin:0 20px;
    border:1px solid black;
}
