.SideDrawer{
    position: fixed;
    width:250px;
    max-width:50%;
    height:100%;
    left:0;
    top:0;
    z-index:200;
    background-color: #ff0019;
    padding:30px 20px;
    box-sizing:border-box;
    transition:transform 0.3s ease-out;
}

.Navbar{
    display:block
}
.Sitetag{
    font-size:28px;
    font-weight: bold;
    color:#fff;
    padding-top:20px;
}

@media(min-width:1000px){
    .SideDrawer{
        display: none;
    }
}

.Open{
    transform: translateX(0);

}

.Close{
    transform: translateX(-100%);

}