.CountrywiseCases{
    padding:15px;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom:10px;
}

.List{
    overflow-y: scroll;
    max-height: 250px;
    list-style-type:none;
}

.List::-webkit-scrollbar {
    width: 3px;
    background: #dfe1e8;
}

.List::-webkit-scrollbar-thumb {
    background: #7a7d89;

}
.Input{
    height:40px;
    border-radius:20px;
    border:1px solid #ccc;
    font-weight: bold;
    padding-left:20px;
    outline: none;
    background-color: #eeeeee;
    width:95%;
    margin-bottom: 8px;
}


