.Twitter{
    background-color: #ffffff;
    border-radius: 7px;
    padding:15px;
    
}

.Timeline{
    min-height:400px;
}

.TwitterIcon{
    margin-left:10px;
}
.Tweets{
    text-align: left;
    font-size:18px;
    font-weight: bold;
   
}

@media(max-width:1023px){
    .Twitter{
       margin-bottom: 10px;
        min-height:550px;
        box-sizing: border-box;
    }
}

@media(max-width:767px){
    .Twitter{
        margin-bottom: 20px;
    }
}