.Twitter{
    background-color: #ffffff;
    border-radius: 7px;
    padding:15px;
}

.TwitterIcon{
    margin-left:10px;
}
.Tweets{
    text-align: left;
    font-size:18px;
    font-weight: bold;
   
}