.Twitter{
    background-color: #ffffff;
    border-radius: 7px;
    padding:15px;
    min-height:520px;
}

.Timeline{
    min-height:400px;
}

.TwitterIcon{
    margin-left:10px;
}
.Tweets{
    text-align: left;
    font-size:18px;
    font-weight: bold;
   
}

@media(min-width:768px)and ( max-width:1023px){
    .Twitter{
       margin-bottom: 10px;
    }
}

@media(max-width:767px){
    .Twitter{
        margin-bottom: 20px;
    }
}